body {
  font-family: "Lumanosimo", cursive;
  color: aliceblue;

  background: rgb(185, 204, 20);
  background: linear-gradient(
    90deg,
    rgba(185, 204, 20, 1) 33%,
    rgba(0, 110, 255, 1) 56%
  );
  background-image: url(/img/30084.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: color;
}

header {
}

.name {
  display: inline;
}
.avatar {
  width: 600px;
  height: 500px;
  border: rgba(0, 110, 255, 1) solid 5px;
  border-radius: 50%;
}
.workpatron {
  width: 600px;
  height: 500px;
  border: rgba(0, 110, 255, 1) solid 5px;
  border-radius: 50%;
}
span {
  color: darkorange;
}
.descript {
  display: block;
}
.information {
}
.skills {
}
